<!-- добавление категории -->

<h3>В какой раздел поместить Ваше объявление?</h3>

<table cellspacing=10 cellpadding=4>
    
   {PARTS}
    
</table>

<!--parts-separator-->

   <!-- PARTS -->
   
   <tr>
       <td style="border: 1px black solid;">
           <h3>{NAME}</h3>
           
           {SUBPARTS}
       </td>
   </tr>
       
   <!-- /PARTS -->

<!--parts-separator-->

   <!-- SUBPARTS -->
   
   <div><li><a href="{HREF}" title="{DESCRIPTION}">{NAME}</a></div>
   
   <!-- /SUBPARTS -->