<!-- порядок следования блоков важен ! -->

{RUBRICATOR}

<h3>Последние объявления:</h3>

<div style="margin-bottom: 15px;">страницы: {PAGES}</div>

<table>
   {ADS}
</table>

<div style="margin-top: 15px;">страницы: {PAGES}</div>

<!--parts-separator-->

   <!-- ADS -->
    
    <tr>
        <td style="border: gray 1px solid;"><img src="{IMG_SRC}"></td>
        <td style="border: gray 1px solid;">
                <h3><a href="{HREF}">{HEADER} <small>({DATE})</small></a></h3>
            
                <p>{BODY_SHORT}</p>
            
            
            <div style="margin-top: 5px; font-style: italic;"><a href="{CAT_HREF}">{CAT_NAME}</a> / <a href="{SCAT_HREF}">{SCAT_NAME}</a></div>
            
        </td>
    </tr>
    
    <!-- /ADS -->