<!-- порядок следования блоков важен ! -->

<table cellspacing=10 cellpadding=4>
    
   {PARTS}
    
</table>

<!--parts-separator-->

   <!-- PARTS -->
   
   <tr>
       <td style="border: 1px black solid;">
           <h3><a href="{HREF}" title="{DESCRIPTION}">{NAME}</a></h3>
           
           {SUBPARTS}
       </td>
   </tr>
       
   <!-- /PARTS -->

<!--parts-separator-->

   <!-- SUBPARTS -->
   
   <div><li><a href="{HREF}" title="{DESCRIPTION}">{NAME}</a></div>
   
   <!-- /SUBPARTS -->